# Ignore Mac system files
.DS_Store
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
*.bak
*.tmp
*.egg-info/
dist/
build/
*.egg
*.manifest
*.spec
.env
*/.env

node_modules/
npm-debug.log

__pycache__/
